<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
						   http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
						   http://www.springframework.org/schema/context
						   http://www.springframework.org/schema/context/spring-context-3.1.xsd">
	<!-- Srping getbean工具类 -->
	<bean class="com.bjucloud.common.util.SpringApplicationContextHolder" />
	<bean class="com.bjucloud.common.util.SystemBootstrap" >
		<property name="configPath" value="/env.properties"/>
	</bean>
	
	<!-- 扫描包配置 -->
	<context:annotation-config />
    <context:component-scan base-package="com.demo">
        <context:exclude-filter type="regex" expression="com\.demo\.*\.controller"/>
    </context:component-scan>

</beans>
